# IntelijIdea Project Junk
.idea/
*.iml

# Emacs
*~
\#*\#
.\#*

# Eclipse Project Junk
.settings/
.project
.classpath
.vscode

# GUS MOdel
Model/lib/perl/*/*.pm
Model/lib/perl/generated

# Build directories
/build/
/out/
/target/
/*/target/

# Dependencies
node_modules/


# Gradle meta
.gradle/


# Compiled things
*.class


# Other version control
.svn/

# backup files
*~
\#*